p {
  @apply text-lg md:text-xl lg:text-2xl xl:text-base leading-relaxed font-medium text-black;
  letter-spacing: 1px;
}
h2 {
  @apply text-black;
  font-family: 'Bodoni Moda';
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  display: block;
  letter-spacing: 1px;
  position: relative;
  &:after {
    background: black;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    bottom: -10px;
    content: '';
    height: 4px;
    position: absolute;
  }
}
h3 {
  font-family: 'Bodoni Moda';
}
